.logo {
    width: 100px;
    height: 50px;
  }
 
 
  .banner {
	height: 60vh;
    background-size: cover;
}
.carousel-caption {
	padding-bottom: 250px;
	font-family: poppins;
}
.carousel-caption h2 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
}
.carousel-caption h2 span {
	color: #EDBB00;
}

  .banner-section-bg-container {
    background-image: url("bg1.jpg");
    height: 100vh;
    background-size: cover;
  }
  .banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
  }
  .banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
  .custom-outline-button {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
  }
  .wcu-section {
    background-color: #f9fbfe;
  }
  .wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
  }
  .wcu-card-image {
    width: 87px;
    height: 90px;
  }
  .wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
  }
  .wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
  }
  .healthy-food-section {
    background-color: #f9fbfe;
  }
  .healthy-food-section-img {
    width: 270px;
  }
  .healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }