.logo {
    width: 100px;
    height: 50px;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .wrapper{
    max-width: 1090px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrapper .table{
    background: #fff;
    width: calc(33% - 20px);
    padding: 30px 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .table .price-section{
    display: flex;
    justify-content: center;
  }
  .table .price-area{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
  }
  .price-area .inner-area{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    line-height: 117px;
    text-align: center;
    color: #fff;
    position: relative;
  }
  .price-area .inner-area .text{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 17px;
  }
  .price-area .inner-area .price{
    font-size: 45px;
    font-weight: 500;
    margin-left: 16px;
  }
  .table .package-name{
    width: 100%;
    height: 2px;
    margin: 35px 0;
    position: relative;
  }
  .table .package-name::before{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    font-weight: 500;
    background: #fff;
    padding: 0 15px;
    transform: translate(-50%, -50%);
  }
  .table .features li{
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .features li .list-name{
    font-size: 17px;
    font-weight: 400;
  }
  .features li .icon{
    font-size: 15px;
  }
  .features li .icon.check{
    color: #2db94d;
  }
  .features li .icon.cross{
    color: #cd3241;
  }
  .table .btn{
    width: 100%;
    display: flex;
    margin-top: 35px;
    justify-content: center;
  }
  .table .btn button{
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .table .btn button:hover{
    border-radius: 5px;
  }
  .basic .features li::selection{
    background: #ffd861;
  }
  .basic ::selection,
  .basic .price-area,
  .basic .inner-area{
    background: #ffd861;
  }
  .basic .btn button{
    border: 2px solid #ffd861;
    background: #fff;
    color: #ffd861;
  }
  .basic .btn button:hover{
    background: #ffd861;
    color: #fff;
  }
  .premium ::selection,
  .premium .price-area,
  .premium .inner-area,
  .premium .btn button{
    background: #ffd861;
  }
  .premium .btn button:hover{
    background: #ffd861;
  }
  .ultimate ::selection,
  .ultimate .price-area,
  .ultimate .inner-area{
    background: #ffd861;
  }
  .ultimate .btn button{
    border: 2px solid #ffd861;
    color: #ffd861;
    background: #fff;
  }
  .ultimate .btn button:hover{
    background: #ffd861;
    color: #fff;
  }
  .basic .package-name{
    background: #ffd861;
  }
  .premium .package-name{
    background: #ffd861;
  }
  .ultimate .package-name{
    background: #ffd861;
  }
  .basic .package-name::before{
    content: "Basic";
  }
  .premium .package-name::before{
    content: "Premium";
    font-size: 24px;
  }
  .ultimate .package-name::before{
    content: "Ultimate";
    font-size: 24px;
  }
  @media (max-width: 1020px) {
    .wrapper .table{
      width: calc(50% - 20px);
      margin-bottom: 40px;
    }
  }
  @media (max-width: 698px) {
    .wrapper .table{
      width: 100%;
    }
  }
  ::selection{
    color: #fff;
  }
  .table .ribbon{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
  }
  .table .ribbon::before,
  .table .ribbon::after{
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border: 7px solid #ffd861;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .table .ribbon::before{
    top: 0px;
    right: 15px;
  }
  .table .ribbon::after{
    bottom: 15px;
    left: 0px;
  }
  .table .ribbon span{
    position: absolute;
    top: 30px;
    right: 0;
    transform: rotate(-45deg);
    width: 200px;
    background: #ffd861;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  }
  .banner {
	height: 60vh;
    background-size: cover;
}
.carousel-caption {
	padding-bottom: 250px;
	font-family: poppins;
}
.carousel-caption h2 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
}
.carousel-caption h2 span {
	color: #EDBB00;
}

  .banner-section-bg-container {
    background-image: url("bg1.jpg");
    height: 100vh;
    background-size: cover;
  }
  .banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
  }
  .banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
  }
  .custom-button {
    color: white;
    background-color: #ffd861;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
  .custom-outline-button {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
  }
  .wcu-section {
    background-color: #f9fbfe;
  }
  .wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
  }
  .wcu-card-image {
    width: 87px;
    height: 90px;
  }
  .wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
  }
  .wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
  }
  .offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
  }
 
  .healthy-food-section {
    background-color: #f9fbfe;
  }
  .healthy-food-section-img {
    width: 270px;
  }
  .healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .explore-menu-section {
    background-color: white;
  }
  .menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .menu-item-image {
    border-radius: 16px;
  }
  .menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
  }
  .menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
  }
  .menu-item-card {
    border-radius: 16px;
  }
  .explore-text{
    font-size: 10px;
  }
  .thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
  }
  .thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
  }
  .thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
  }
  
  
